/* Variables */

:root {
    --red: #EE3643;
    --logo-border: #B52933;
    --green: #63A63E;
    --grey: #3D546F;
    --darkgrey: #32425C;
    --darkergrey: #293449;
    --header-dark: #161D29;
    --lightgrey: #C5C5C5;
    --light-background: #F1F5F7;
    --white: #FFFFFF;
    --yellow: #FFBF47;
    --blue: #3BBCE3;
    --pink: #DC91D8;
    --lightgreen: #8ED78F;
    --lightyellow: #FFD180;
    --success-green: #5FBB2D;
    --error-red: #BA2732;
    --lightergrey: #EAEAEA;
    --black: #000000;
    --milky: #F1F5F7;
    --lightmilky: #F3F7F9;
    --catalog-grey: #E5E5E5;
    --price-grey: #A9A9A9;
    --beige: #F7F3EC;
    --lightbeige: #F9F5F0;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.list-style-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Container */

.container {
    width: 940px;
    margin: 0 auto;
}

/* Header */

.upper-header {
    font-size: 18px;
    color: var(--white);
    background-color: var(--darkergrey);
    display: flex;
    justify-content: center;
}

.header-logo,
.footer-logo {
    background-color: var(--red);
    border-bottom: 5px solid var(--logo-border);
}

.header-logo:active,
.footer-logo:active {
    background-color: var(--error-red);
}

.order-button {
    background-color: var(--green);
}

.order-button:hover {
    background-color: var(--success-green);
}

.order-button:active,
.bookmarks:active,
.cart:active {
    color: rgba(255, 255, 255, 0.5);
}

.order-button:active,
.bookmarks:active {
    background-color: var(--header-dark);
}

.cart-filled {
    background-color: var(--red);
}

.main-header {
    background-color: var(--light-background);
    margin-bottom: 40px;
    margin-top: 0;
    padding-top: 41px;
    padding-bottom: 60px;
}

.main-header-section {
    display: flex;
    justify-content: space-between;
}

.site-title {
    color: var(--red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.phone {
    color: var(--red);
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
}

.address {
    color: var(--darkgrey);
    font-size: 14px;
}

.login-button,
.signup-button,
.profile {
    font-size: 21px;
    line-height: 21px;
}

.login-button:hover,
.signup-button:hover {
    color: var(--red);
}

.login-button:active,
.signup-button:active,
.profile:active,
.my-orders:active,
.cabinet:active {
    color: var(--lightgrey);
}

.main-nav {
    font-size: 18px;    
    background-color: var(--darkgrey);
    border-bottom: 5px solid var(--darkergrey);
    margin-bottom: 60px;
    margin-top: 40px;
}

.main-nav ul {
    display: flex;
    justify-content: space-around;
    min-height: 60px;
    align-items: center;
}

.main-nav-item a {
    color: var(--white);
}

.profile-section {
    display: flex;
    flex-direction: column;
}

.profile-name {
    background-color: var(--white);
}

.my-orders,
.cabinet {
    font-size: 16px;
    line-height: 18px;
    color: var(--darkgrey);
}

.my-orders:hover,
.cabinet:hover {
    color: var(--red);
}

.main-nav-item:hover,
.main-nav-item:active {
    background-color: var(--darkergrey);
}

.main-nav-item:active {
   opacity: 0.5; 
}

.button {
    min-height: 38px;
    background-color: var(--red);
    font-size: 14px;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

/* Main categories */

.main-categories {
    color: var(--white);
    margin-bottom: 59px;
}

.main-categories h3 {
    font-size: 24px;
    line-height: 30px;
}

.categories-wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    grid-gap: 20px;
}

.materials,
.delivery {
    background-color: var(--yellow);
}

.tools {
    background-color: var(--blue);
}

.equipment {
    background-color: var(--pink);
}

.discounts {
    background-color: var(--lightgreen);
}

.category-banner {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.banner-header {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
}

.banner-header h3 {
    font-size: 36px;
    line-height: 36px;
}

.banner-header span {
    font-size: 18px;
}

.category-banner .button {
    position: absolute;
}

/* Popular goods */

.popular-heading {
    background-color: var(--lightbeige);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 26px;
    margin-bottom: 20px;
}

.popular-heading h2 {
    font-size: 30px;
    line-height: 30px;
    color: var(--darkgrey);
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    margin-left: 28px;
}

.popular-heading .button {
    margin-right: 14px;
}

.popular-goods {
    margin-bottom: 70px;
}

/* Popular producers */

.popular-producers-list,
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producer {
    width: 220px;
    border: 1px solid var(--catalog-grey);
    margin-bottom: 20px;
}

/* Services */

.services {
    background-color: var(--light-background);
    padding-top: 64px;
    padding-bottom: 99px;
}

.services p {
    font-family: "PT Sans", Arial, sans-serif;
    margin-bottom: 67px;
}

.services-title {
    font-weight: 400;
    margin: 0;
}

.services-title,
.service-name {
    font-size: 30px;
    line-height: 30px;
}

.services-section {
    display: flex;
}

.services-list {
    width: 240px;
}

.service-option {
    color: var(--white);
    font-size: 21px;
    line-height: 30px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 17px;
    padding-left: 22px;
    background-color: var(--darkgrey);
    box-shadow: 0px 1px 0px var(--darkergrey), inset 0px 1px 0px #405069;
}

.services .selected {
    background-color: var(--white);
    color: var(--darkgrey);
    box-shadow: 0px 1px 0px var(--white);
}

.service-about {
    margin-left: 80px;
}

.service-name {
    color: var(--darkgrey);
    margin: 0;
    font-weight: 400;
}

/* About */

.about {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.about h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.about p {
    font-family: "PT Sans", Arial, sans-serif;
}

.about-company {
    max-width: 478px;
    margin-right: 161px;
}

.delivery-companies-list {
    font-size: 18px;
}

.about-contacts {
    max-width: 300px;
}

/* Footer */

.footer {
    background-color: var(--darkgrey);
}

.upper-footer,
.middle-footer {
    font-size: 18px;
}

.upper-footer {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin-right: 174px;
    width: 220px;
    height: 68px;
}

.footer-nav {    
    display: flex;
    justify-content: space-between;
    width: 549px;
    margin-top: 37px;
}

.footer-nav a {
    color: var(--milky);
}

.middle-footer {
    display: flex;
    padding-bottom: 54px;
}

.footer-contacts {
    color: var(--lightmilky);
    margin-right: 92px;
}

.categories-nav {
    display: flex;
    justify-content: space-between;
    width: 525px;
}

.categories-nav a {
    color: var(--yellow);
}

.footer-nav a:hover,
.categories-nav a:hover {
    text-decoration: underline;
}

.footer-nav a:active,
.categories-nav a:active {
    opacity: 0.5;
}

.bottom-footer {
    font-size: 16px;
    background-color: var(--darkergrey);
    padding-top: 36px;
    padding-bottom: 34px;
}

.bottom-footer span {
    color: var(--white);
}

.bottom-footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.social-networks {
    display: flex;
    margin-left: 161px;
    margin-right: 118px;
}

.footer-links {
    display: flex;
    width: 286px;
}

.feedback-mail {
    margin-right: 51px;
}

.feedback-mail a,
.academy-address a {
    color: var(--lightyellow);
}

.feedback-mail a:hover,
.academy-address a:hover {
    text-decoration: underline;
}

.feedback-mail a:active,
.academy-address a:active {
    color: var(--red);
}

/* Catalog */

.bread-crumbs {
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    display: flex;
    margin-top: 21px;
    margin-bottom: 20px;
}

.bread-crumbs-item {
    margin-right: 40px;
}

.bread-crumbs-item a {
    color: var(--black);
}

.catalog-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--darkgrey);
    font-weight: 400;
    background-color: var(--light-background);
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 29px;
    margin-bottom: 20px;
}

/* Catalog filter */

.catalog-filter {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.filter-price,
.filter-producers-list,
.filter-power-list {
    border: none;
    border-bottom: 1px solid var(--catalog-grey);
    padding: 0;
}

.catalog {
    display: flex;
}

.catalog-filter {
    width: 220px;
    margin-right: 21px;
}

.catalog-main-column {
    flex-grow: 1;
}

.catalog-filter-name,
.sorting {
    background-color: var(--beige);
}

.catalog-filter-name {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
}

.filter-price {
    margin-top: 14px;
    padding-bottom: 25px;
}

.filter-price legend {
    margin-bottom: 11px;
}

.price-values {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.price-toggle {
    margin-bottom: 9px;
}

.price-toggle,
.price-values input {
    background-color: var(--beige);
}

.price-values input {
    font-size: 17px;
    line-height: 18px;
    width: 95px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.sorting {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 19px;
    margin-bottom: 28px;
}

.sorting-list {
    min-width: 443px;
    display: flex;
    justify-content: space-between;
}

.sorting-item {
    line-height: 17px;
    opacity: 0.3;
    border-bottom: 1px dotted var(--red);
}

.sorting-item:hover {
    opacity: 1;
    border-bottom: 1px solid var(--red); 
}

.sorting-item:active,
.sorting .active {
    color: var(--red);
    border-bottom: none;
}

.filter-producers-list,
.filter-power-list {
    display: flex;
    flex-direction: column;
}

.filter-producers-list {
    margin-top: 16px;
    margin-bottom: 18px;
    padding-bottom: 26px;
}

.filter-producers-list label,
.filter-power-list label {
    margin-top: 16px;
    font-size: 15px;
    line-height: 19px;
}

.filter-power-list {
    margin-bottom: 35px;
    border-bottom: 0;
}

.catalog-filter legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}

.filter-button {
    line-height: 18px;
    border: 1px solid var(--catalog-grey);
    text-align: center;
}

.catalog-item {
    border: 1px solid var(--catalog-grey);
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    width: 220px;
    padding-top: 22px;
    padding-bottom: 21px;
}

.catalog-item h3 {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.old-price,
.price {
    text-transform: uppercase;
    text-align: center;
}

.old-price {
    color: var(--price-grey);
    text-decoration: line-through;
}

.price {
    color: var(--white);
}

.buy-button,
.bookmark-button {
    border-radius: 2px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.buy-button {
    background-color: var(--green);    
    box-shadow: inset 0px -3px 0px #367315;
    color: var(--white);
}

.buy-button:hover {
    background-color: var(--success-green);
}

.buy-button:active {
    background-color: #518534;
}

.bookmark-button {
    border:  3px solid var(--green);
    color: var(--darkgrey);
}

.bookmark-button:hover {
    border-color: var(--darkgrey);
}

.bookmark-button:active {
    opacity: 0.5;
}

.paginator {
    display: flex;
    margin-top: 48px;
    margin-bottom: 59px;
}

.page-number {
    margin-right: 10px;
    min-width: 38px;
    min-height: 38px;
}

.page-next {
    min-width: 140px;
    min-height: 38px;
}

.page-number,
.page-next {
    border: 1px solid var(--catalog-grey);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-number:hover,
.page-next:hover {
    border: 1px solid var(--lightgrey);
}

.page-number:active,
.page-next:active {
    border: 1px solid var(--red);
}

.paginator .active {
    background-color: var(--red);
    color: var(--white);
}

.catalog-category-about {
    background-color: var(--light-background);
    padding-top: 64px;
    padding-bottom: 67px;
}

.catalog-category-about h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
}

.catalog-category-about p {
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;
}
